* {
  padding: 0;
  margin: 0;
  font-family: "Epilogue", sans-serif;
  font-weight: 200;
  box-sizing: border-box;
  font-size: 16px;
}

.homeP {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-items: center;
  flex-direction: column;
  background-image: url("../images/plural-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.headerP {
  width: 100%;
  background-color: #272727;
  height: 48px;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  line-height: 48px;
}

.logo {
  height: 3em;
  display: flex;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
}

#menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contatos {
  display: flex;
  justify-content: space-between;
}

.redesSociais {
  display: flex;
  justify-content: space-between;
}

.contatos a {
  color: #FFf;
  text-decoration: none;
  margin-left: 4px;
}

.redesSociais i, .contatos i {
  color: #FF3F68;
  margin-left: 10px;
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #272727;
  width: 280px;
  padding: 5px;
  border-radius: 30px;
  height: 350px;
  margin: auto auto;
}

.instrucao {
  font-size: 1.125em;
  font-weight: 400;
  color: #FFf;
  text-align: center;
}

.tipoProduto {
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
  padding: 0 5px;
  box-sizing: border-box;
}

.logoProdutos {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logoProdutos img {
  margin: auto;
  height: 5vh;
}

.tipoProduto a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.0625em;
  text-align: center;
  width: 80%;
  background-color: #FF3F68;
  padding: 5px 5px;
  border-radius: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.homeP-2 {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-items: center;
  flex-direction: column;
  background-image: url("../images/plural-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.containerP {
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.capaTexto {
  width: 40%;
  margin-right: 40%;
  min-height: 43vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.imgCapaTam-2 {
  display: none;
}

#menu_mobile {
  display: none;
}

.contentSec {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 10px 10px;
  min-height: 43vh;
}

.tituloProduto {
  font-weight: 500;
  font-size: 3.125em;
  color: #fff;
}

.descricao {
  width: 90%;
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.descricao p {
  font-size: 1.125em;
  color: #fff;
}

.cliqueItens {
  margin-top: 20px;
  display: flex;
  border: solid #FF3F68 1px;
  border-radius: 30px;
  width: 90%;
  text-align: center;
  padding: 5px 10px;
  color: #fff;
  font-weight: 500;
  justify-content: center;
}

.capa {
  width: 100%;
  min-height: 43vh;
  background-color: #272727;
  background-image: url("../images/plural-cursos-palestra-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cursosContainer {
  width: 100%;
  padding: 10px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: space-between;
  justify-items: center;
  grid-gap: 20px;
}

.cursos {
  background-color: #272727;
  border-radius: 10px;
  margin: 10px 10px;
  box-shadow: 0px 0px 15px #272727;
}

.cursos a {
  text-decoration: none;
}

.cursos img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.tituloCurso {
  text-align: center;
  color: #fff;
  margin: 3px 5px;
  font-weight: 500;
}

footer {
  width: 100%;
  padding-top: 20px;
  color: #fff;
  height: 80px;
  text-align: center;
  font-size: 0.875em;
  background-color: #000000;
}

.anim-1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.anim-2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@media only screen and (max-width: 1317px) {
  .capa {
    background-image: none;
  }
  .imgCapaTam-2 {
    width: 100%;
    min-height: 49vh;
    background-image: url("../images/plural-cursos-palestra-bg-2.jpg");
    background-position: top;
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
  }
  .capaTexto {
    width: 75%;
    margin: 0 auto;
    min-height: 43vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .tituloProduto {
    text-align: center;
    font-size: 30px;
  }
  .descricao {
    width: 90%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: 0 auto;
  }
  .cliqueItens {
    text-align: center;
    justify-content: center;
    margin: 20px auto;
    width: 80%;
  }
  .cursosContainer {
    grid-template-columns: repeat(auto-fill, 30%);
    grid-gap: 5px;
  }
  /*.cursos{
    width: 34.40vh;
  }*/
}
@media only screen and (max-width: 920px) {
  #menu {
    display: block;
    position: absolute;
    top: 48px;
    width: 100%;
    left: 0;
    background: #272727;
    display: block;
    height: 0px;
    transition: 0.6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 48px);
    visibility: visible;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid #070707;
  }
  #menu_mobile {
    width: 100%;
    justify-content: right;
    align-items: center;
    display: flex;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }
  #hamburger {
    color: #FF3F68;
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after, #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .imgCapaTam-2 {
    width: 100%;
    min-height: 30vh;
  }
  .cursosContainer {
    grid-template-columns: repeat(auto-fill, 100%);
    grid-gap: 5px;
  }
  .capaTexto {
    width: 100%;
    padding: 0;
  }
  .descricao {
    width: 100%;
    padding: 0 10px;
  }
  .contatos {
    display: flex;
    flex-direction: column;
  }
  .redesSociais {
    display: flex;
    justify-content: center;
  }
  .redesSociais a {
    border: none !important;
  }
}
@media only screen and (max-width: 414px) {
  footer {
    padding-left: 5px;
    padding-right: 5px;
  }
}/*# sourceMappingURL=style.css.map */